h1#site-title{
    color: black;
    text-align:center;
    font-size:72px;
    margin-bottom:24px;
  }
  header nav ul {
    background: black;
    color:white;
    list-style:none;
    text-align:center;
    padding:24px;
    border: 1px solid white;
  }
  nav ul li{
    padding:42px;
    display:inline;
    overflow:hidden;
  }
  header nav ul li a{
    text-decoration:none;
    color:white;
    border:1px solid white;
    padding:12px;
  }
  nav ul li a:hover{
    text-decoration:underline;
  }  
  body{
    background-color:rgb(206, 105, 105);
  }
  figure{
    border: 2px solid black;
    padding:5px;
    max-width: 675px;  
  }
  .menu-container{
    max-width:950px;
    margin-left:275px;
  }
  .main-container{
    max-width:1020px;
    margin-left:250px;
  }